Package: xyz.xninja.carriersearchalways
Name: Carrier Search Always
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ARX8x
Author: ARX8x
Section: Tweaks
Version: 0.0.1-58+debug
Installed-Size: 117
